@media all  {
    html{
        font-size: 62.5%;
        font-family: "微软雅黑";
    }
    .logo{
        padding-top: 35px;
        height: 175px;
        text-align: center;

    }
    .logo img{
        height: 105px;
        width: 145px;

    }
    #container{
        padding-left: 13.4%;
        padding-right: 13.3%;
        background:#F2F2F2;
    }

    #login{
        font-size: 15px;
        color: #3A3A3A;
        margin:  0 auto;
    }
    .userName,.userPwd{
        position: relative;
        margin-bottom: 19px;
        height: 35px;
        border-bottom: 1px solid #B6B6B6;
    }
    .userName img,.userPwd img{
        margin-top: 6.5px;
        width: 22px;
        height: 22px;
    }
    #usermobile,#userpassword,#userpassword1{
        position: absolute;
        left: 25px;
        top: 10px;
        border: none;
        outline: none;
        background:#F2F2F2;
    }
    .pwd-see{
        float: right;
    }
    .set-login{
        margin-top: 36px;
        margin-bottom: 15px;
    }
    .set-register input,.set-login input{
        height: 40px;
        color: white;
        background: #2A9A08;
        border-radius: 4px;
        outline: none;
        border: none;
        width: 100%;

    }
    .set-register input{
        color: #3A3A3A;
        background: #F2F2F2;
        border: 1px solid #B6B6B6;
    }
    .lost-pwd{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
    }
    .remind-me{
        flex: 1;
        position: relative;
    }
    .remind-me img{
        width: 20px;
        height: 20px;

    }
    .remind{
        position: absolute;
        top:0px;
        left: 23px;

    }
    .lose{

    }
}
